/* :root {
  --border-style: 1px solid rgba(255, 255, 255, 0.3);
} */

.icon-right-arrow,
.icon-down-arrow {
  @apply mr-1 h-5 w-5;
}

/**
 * ----------------------------------------
 *             FILES HIERARCHY
 * ----------------------------------------
 */
.container-folder {
  @apply relative;
}
.btn-folder,
.btn-file {
  @apply relative box-border flex w-max cursor-pointer
  select-none list-none
  items-center
  border-2
  border-transparent
  py-1
  px-2;
}
.btn-folder::-webkit-details-marker {
  @apply hidden;
}
.files-tree details > details {
  @apply ml-2;
}
.btn-file {
  @apply ml-8;
  background-color: transparent;
  font-size: inherit;
}
.active-btn {
  @apply border-2 bg-theme-on-background text-theme-background;
}
.active-btn svg {
  @apply fill-theme-background;
}
.btn-file:hover,
.btn-folder:hover {
  @apply border-2 border-dashed border-theme-on-background;
}
/* details[open] > summary ~ * {
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
