@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Space Mono Bold";
  src: url(../public/fonts/h2/SpaceMono-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Space Mono Regular";
  src: url(../public/fonts/h2/SpaceMono-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Cascadia Code";
  src: url(../public/fonts/code/CascadiaCode.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../public/fonts/h1/RobotoCondensed.ttf) format("truetype");
}
@font-face {
  font-family: "WorkSans";
  src: url(../public/fonts/p/WorkSans.ttf) format("truetype");
}

:root {
  --primary: #dad7cd;
  --on-primary: rgb(255, 255, 255);

  --secondary: rgb(51, 171, 160);
  --on-secondary: rgb(255, 255, 255);

  --background: white;
  --on-background: var(--surface);

  --surface: #1a1c2c;
  --on-surface: var(--background);

  --error: rgb(176, 0, 32);
  --on-error: rgb(255, 255, 255);

  --shadow: rgba(0, 0, 0, 0.205);
  --scrollbar-width: 8px;
}

.dark {
  --background: #1a1c2c;
  --on-background: var(--surface);

  --surface: white;
  --on-surface: var(--background);

  --shadow: rgb(51, 51, 51);
}

@keyframes head-shake {
  0% {
    transform: translateX(0);
  }

  12.5% {
    transform: translateX(-6px);
  }

  37.5% {
    transform: translateX(5px);
  }

  62.5% {
    transform: translateX(-3px);
  }

  87.5% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes alert-up {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  40%,
  90% {
    transform: translateY(-20px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

@layer base {
  html,
  body,
  #__next {
    @apply relative flex h-full w-full items-center justify-center bg-theme-background font-workSans text-theme-on-background;
  }
  body {
    @apply overflow-hidden text-base;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    @apply font-cascadia-code text-theme-on-background;
  }
  h1 {
    @apply font-space-mono-bold text-3xl text-theme-on-background md:text-3xl lg:text-5xl;
  }
  h2 {
    @apply font-cascadia-code text-2xl text-theme-on-background md:text-2xl lg:text-4xl;
  }
  h3 {
    @apply text-xl font-medium text-theme-on-background md:text-xl lg:text-3xl;
  }
  h4 {
    @apply text-lg font-medium text-theme-on-background md:text-lg lg:text-2xl;
  }
  p {
    @apply text-sm text-theme-on-background md:text-base lg:text-lg;
  }

  ul {
    @apply list-inside list-disc text-theme-on-background;
  }
  .p-link {
    @apply font-space-mono-bold decoration-2 underline-offset-4 hover:italic hover:underline;
  }

  button {
    @apply h-max w-max cursor-pointer rounded-full
    border-2
    border-theme-on-background
    bg-theme-on-background
    px-5
    py-2
    font-cascadia-code
    text-base
    font-bold
    text-theme-background
    active:bg-theme-background
    active:text-theme-on-background;
  }
  kbd {
    @apply text-white;
  }

  .head-shake {
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0, 0.23, 1, 0.71);
    animation-name: head-shake;
    transform-orgin: center bottom;
  }

  .alert-up {
    animation-duration: 1s;
    /* animation-timing-function: cubic-bezier(0, 0.23, 1, 0.71); */
    animation-name: alert-up;
    transform-orgin: center bottom;
  }
}
