#grid-shapez,
.box,
#modal,
#file-shapez {
  @apply grid place-items-center;
}

#file-shapez {
  @apply h-full w-full;
}

#grid-shapez {
  --box-size: 1.05rem;
  --cols: 10;
  --rows: 24;

  grid:
    repeat(var(--rows), var(--box-size)) /
    repeat(var(--cols), var(--box-size));
  gap: 0.25rem;
}

@media (min-width: 1600px) {
  #grid-shapez {
    --box-size: 1.1rem;
    --cols: 10;
    --rows: 24;

    grid:
      repeat(var(--rows), var(--box-size)) /
      repeat(var(--cols), var(--box-size));
    gap: 0.2rem;
  }
}

.box-shapez {
  @apply h-full w-full rounded border-[1px] border-theme-on-background;
}

.active,
.static {
  @apply bg-theme-on-background;
}

#modal {
  @apply absolute z-20 rounded-md border-2 border-theme-on-background bg-theme-background p-10 shadow-2xl;
}
#modal > button {
  @apply mt-2;
}
#modal > p {
  margin-top: 0.5rem;
}
#modal :is(p, h1) {
  @apply text-theme-on-background;
}
